<nav class="navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">                  
            <a href="#" class="navbar-brand">Agenda Builder</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">                        
                <li><a href="#about">About Us</a></li>                      
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>