<div ng-controller="ModalCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
        <h3 class="modal-title">Add New Activity</h3>
        </div>
        <div class="modal-body">
        <div class="row">
        <div class="form-group">
        <input ng-model="activityName" placeholder="Name" type="text" class="form-control"/>
        </div> 
        <div class="form-group">
        <input ng-model="activityDuration" placeholder="Duration in Min" type="text" class="form-control"/>             
        </div>  
        <div class="form-group">                    
        <select class="form-control" ng-model="activityType"
        ng-options="opt as opt.label for opt in options">
        </select>
        </div>  
        <div class="form-group">
        <textarea  ng-model="activityDesc" placeholder="Description" class="form-control" rows="3"></textarea>
        </div>  
        </div>

        <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>  
    <button class="btn btn-primary" ng-click="open('sm')">Add Activity</button>
    <button class="btn btn-default" ng-click="addDay()">Add Day</button>
</div> <!--end of popup modal controller-->