<html ng-app="agendaBuilderApp">
    <head>
        <title>Agenda Builder|| Group 13</title>
        <link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/css/ng-sortable.min.css">
        <link rel="stylesheet" href="styles/css/ng-sortable.style.min.css">
        <link rel="stylesheet" href="styles/css/board.css">
        <link rel="stylesheet" href="styles/css/app.css">        
    </head>
    <body>
        <div ng-include="'views/partials/header.html'">

        </div>
        <div class="container-fluid" ng-controller="MainCtrl">                     
            <div id="board" ng-controller="dragAndDropCtrl">
                <div id="columns" class="row">
                    <div class="leftbar_wrapper col-sm-2">
                        <!--start creating popup modal for adding activities-->
                        <div id="modal-pupup" ng-include="'views/partials/modal-popup.html'"></div>
                        <hr>
                        <label>Your Parked Activities</label>
                        <div data-columnindex="0" id="column0" ng-include="'views/partials/leftsidebar.html'">
                        </div>                            
                    </div>
                    <div class="drag-container col-sm-10">
                        <div class="col-sm-3 col-xs-3"
                             ng-repeat="day in days"
                             data-columnindex="{{$index}}" id="column{{$index}}">
                            <div class="column">
                                <div class="columnHeader"> 
                                    <a title="Delete Day" ng-click="removeDay($index)">
                                        <i class="glyphicon glyphicon-remove-sign deleteDay"></i></a>
                                    <span>Day{{$index + 1}}</span>
                                    <span>Start={{day.getStart()}}</span>
                                    <span>End={{day.getEnd()}}</span>
                                    <span>Total={{day.getTotalLength()}}Min</span>                                
                                </div>
                                <ul class="cards card-list" as-sortable="sortOptionListener" ng-model="day._activities">
                                    <li style="background:{{item.getColor()}}" class="card" ng-repeat="item in day._activities" data-as-sortable-item ng-include="'views/partials/activity.html'">                                    
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/angular-sortable/ng-sortable.js"></script>
        <script src="scripts/model/model.js"></script>
        <script src="scripts/service/services.js"></script>
        <script src="scripts/controller/controllers.js"></script>
        <script src="app.js"></script>
    </body>
</html>
